@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .faq-questions-list > li:not(:last-child) {
        @apply border-opacity-100 border-gray-dark border-b
    }

    .heading-gradient {
        @apply text-[#F4FFFA00] bg-clip-text bg-gradient-to-b from-default to-default/70;
    }

    .heading-gradient-brand {
        @apply text-[#3ECF8E00] bg-clip-text bg-gradient-to-b from-primary to-primary/80;
    }
}

.h1:not(.prose *):not(.overwrite),
.h2:not(.prose *):not(.overwrite),
.h3:not(.prose *):not(.overwrite),
.h4:not(.prose *):not(.overwrite),
.h5:not(.prose *):not(.overwrite),
.h6:not(.prose *):not(.overwrite) {
    @apply text-default;
    margin-bottom: 16px;
}

.h1:not(.prose *):not(.overwrite) {
    @apply text-4xl;
}

.h2:not(.prose *):not(.overwrite) {
    @apply text-3xl;
}

.h3:not(.prose *):not(.overwrite) {
    @apply text-2xl;
}

.h4:not(.prose *):not(.overwrite) {
    @apply text-xl;
}

.h5:not(.prose *):not(.overwrite) {
    @apply text-xl;
}

h1:not(.overwrite),
h2:not(.overwrite),
h3:not(.overwrite),
h4:not(.overwrite),
h5:not(.overwrite),
h6:not(.overwrite) {
    scroll-margin-top: 90px;
}

.h1:not(.prose *):not(.overwrite),
.h2:not(.prose *):not(.overwrite) {
    line-height: 1.2 !important;
}


@media only screen and (max-width: 960px) {
    .h1:not(.prose *):not(.overwrite) {
        font-size: 2.2rem !important;
    }

    .h2:not(.prose *):not(.overwrite) {
        font-size: 2rem !important;
    }
}

@media only screen and (max-width: 720px) {
    .h1:not(.prose *):not(.overwrite) {
        font-size: 2rem !important;
    }

    .h2:not(.prose *):not(.overwrite) {
        font-size: 1.8rem !important;
    }
}

@media only screen and (max-width: 520px) {
    .h1:not(.prose *):not(.overwrite) {
        font-size: 1.8rem !important;
    }

    .h2:not(.prose *):not(.overwrite) {
        font-size: 1.6rem !important;
    }
}

.p:not(.prose *):not(.overwrite) {
    @apply text-secondary;
    margin-bottom: 16px;
}

.small:not(.prose *):not(.overwrite) {
    @apply text-secondary text-xs;
}